.enter {
  opacity: 1;
  animation-name: enterFromBelow;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 700ms;
}

@keyframes enterFromBelow {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
